<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>奇幻科技</title>
    <link href="img/favicon.ico" rel="shortcut icon">
    <link href="css/bootstrap/dist/css/bootstrap.css" rel="stylesheet"  />
</head>
<body ng-app="myapp">
<div ng-controller="mycontroller" class="container">
    <h1 class="text-danger"><%=title%></h1>
    <input ng-model="name" type="text"/>
    <h2>{{name}}</h2>
</div>
</body>
<script src="js/Lib/angular.min.js"></script>
<script src="js/main.js"></script>
</html>