body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor:pointer
}
.border_1{
    border:1px solid #afd9ee;
}
.radius_3{
    border-radius: 3px;
}
.pdtop{
    padding-top: 4px;
}
.mtop{
    margin-top: 20px;
}
.mbottom{
    margin-bottom: 10px;
}
.blkinlin{
    display: inline-block;
}
.fleftnone{
    float: none;
}
.h100p{height: 100px;}
.w100p{width: 100%;}
.lineH80{
    line-height: 80px;
}
.lineH100{
    line-height: 100px;
}
.lineH200{
    line-height: 200px;
}
.fSize36{
    font-size:36px;
}
.fSize24{
    font-size:24px;
}
.fSize18{
    font-size:18px;
}
.fColorT{
    color: #FF4600;
}
.fFamilykai{
    font-family: '楷体';
}
.fItalic{
    font-style: italic;
}
.bdred{
    border: 1px solid #67b168;
}
.listbg{
    background: #E1F3FD;
}
.conbg{/*主体背景颜色*/
    background: #F8E590;
}
/*底部div颜色*/
.fterdiv{
    background: #0075AD;
}