.border{
    border: 1px solid #23527c;
}
#log{
    width: 500px;
    height: 500px;
    background: #e38d13;
    margin: 20px;
}
.move{
    width: 50px;
    height: 50px;
    border: 1px solid #0075AD;
    background: #5cb85c;
}
.move:nth-child(1){
    background: #00B7FF;
}
#log .move{
    float: left;
}
#log .move:nth-child(2n-1){
    background: #d9534f;
}
#log .move:nth-child(2n){
    background: #f5e79e;
}