<div class="container border_1 radius_3">
    <a href="/#/">返回首页</a>
    <div class="row">
        <img src="" ng-src="{{img}}" class="col-sm-6 col-sm-offset-3"/>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 mtop">
            <p><b>{{goods_name}}</b></p>
            <p>现价:<b class="text-danger fsize18">€{{price}}</b>&nbsp;&nbsp;&nbsp;原价:€{{old_price}}</p>
            <p>购买数量：<span><input type="button" value="-"/><input type="text" /><input type="button" value="+"/></span></p>
        </div>
    </div>
</div>