<div class="row">
    <div class="col-sm-6 mbottom" ng-repeat="g in goods_list">
        <div class="col-sm-11  listbg {{ $index%2 === 0 && 'col-sm-offset-1'}} border_1 radius_3">
            <section>
                <img src="" ng-src="{{g.img}}" class="w100p" ng-click="good_info(g.id)"/>
                <div class="col-sm-12 pdtop">
                    <p>现价：<b class="fColorT fSize18">€{{g.price}}</b>&nbsp;&nbsp;&nbsp;原价：€<del>{{g.old_price}}</del></p>
                    <p ><b ng-click="good_info(g.id)">{{g.goods_name}}</b> &nbsp;&nbsp;&nbsp;店铺：{{g.shop_name}}</p>
                </div>
            </section>
        </div>
    </div>
</div>